* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 40px;
    cursor: pointer;


}


#output {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.temp {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.feel {
    font-size: 30px;
    font-weight: lighter;

}

.logo {
    width: 300px;

}